* {
  font-family: vazir;
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300px;
  src: url(./font/irsans_p30download.com.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  --color: #e1e1e1;
  background-color: #ffffff;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 80px 80px;
}


.menu { 
  background: none;
  border: none;
}

.menu img{
  display: none;
  background: none;
  border: none;
  padding: 0px 15px;
  color: #145a80;
  font-size: 20px;
  height: 45px;
}

.navbar {
  display: grid;
  direction: rtl;
  grid-template-columns: 15% 70% 15%;
  background-color: #e3c8fcc4;
  border: 2.5px solid #b48fdb;
  backdrop-filter: blur(10px);
  width: 98%;
  border-radius: 10px;
  left: 1;
  position: fixed;
  top: 7;
  z-index: 10;
}

/* NAVBAR BUTTONS */

.header-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
}

.logo {
  width: 250px;
  padding: 5px 20px;
}

.logo2 {
  display: none;
}

.navBtn {
  width: 120px;
  padding: 0;
  border: none;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: none;
  display: grid;
}

.navBtn span {
  display: block;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  font-family: vazir;
  font-size: 17px;
  color: #145a80;
}

.navBtn span:hover {
  color: #d00000;
}

.navBtn:active {
  transform: translateY(2px);
  padding-bottom: 0px;
  outline: 0;
}


/*  */


/* SOCIAL MEDIA */

.socialmedia {
  display: flex;
  gap: 1em;
  margin: auto;
}
.card1 {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: grid;
  align-content: center;
}

.instagram {
  fill: #cc39a4;
}

.card2 {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: grid;
  align-content: center;
}

.twitter {
  fill: #03a9f4;
}

.card3 {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: grid;
  align-content: center;
}

.whatsapp {
  fill: #46df60;
}

.discord {
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background: linear-gradient(45deg, #b33ab4, #dd4892, #e1306c);
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #46df60;
}

.card3:hover .whatsapp {
  fill: white;
}

.icon-content .sicial-tooltip {
  position: absolute;
  top: 70px;
  transform: translateX(50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.icon-content:hover .sicial-tooltip {
  opacity: 1;
  visibility: visible;
  top: 80px;
}

/*  */

/* TITLE BG */

.topImg1 {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.topImg2 {
  display: none;
}

.titlecloud-box {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  transition: all 1s ease;
}
.title-cloud {
  position: relative;
  width: 65%;
}

/* Wellcoming */

.topestTitle {
  height: 100%;
  color: aliceblue;
  padding: 60px 0px;
  position: relative;
  font-size: 80px;
  text-align: center;
}

.title-box {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.titleInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  direction: rtl;
}

.titr1 {
  font-size: 55px;
  line-height: 100px;
  margin: auto 0;
}

.info1 {
  display: flex;
  justify-content: space-between;
  direction: ltr;
  text-align-last: auto;
}

.title-information {
  direction: rtl;
  width: 48%;
  margin: auto 0;
}

.title-information p {
  font-size: 23px;
  line-height: 50px;
  text-align: justify;
}

.moreInfo {
  padding: 18px 35px;
  border: none;
  background-color: #7b2cbf;
  font-size: 20px;
  font-family: vazir;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.2s ease;
}

.moreInfo:hover {
  transform: scale(1.01);
}

.moreInfo:active {
  transform: scale(0.995);
}

.dekor1 {
  width: 45%;
}

/*  */
.features-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;
  margin-top: 50px;
}

.about-features {
  margin: 0 auto;
  width: 90%;
}

.about-features p {
  font-size: 35px;
  text-align: center;
  background-color: #7b2cbf;
  padding: 25px 10px;
  border-radius: 10px;
  color: antiquewhite;
  box-shadow: 0px 0px 20px 5px #7a2cbf83;
}

.features {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  /* grid-template-columns: repeat(auto-fill, minmax(250px , 1fr)); */
  width: 100%;
  justify-content: space-evenly;
}

.feature {
  /* border: 2px solid black; */
  border-radius: 25px;
  width: 100%;
  height: 300px;
  background-color: #efcfe369;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-sizing: border-box;
  border: 1px solid white;
  backdrop-filter: blur(4px);
  text-align: center;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(39, 39, 39);
  cursor: pointer;
}

.feature:hover {
  transform: scale(1.03);
  backdrop-filter: blur(10px);
}

.feature-title {
  text-align: center;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 30px;
}

.featureImg {
  max-width: 60%;
}

.features-moreInfo {
  font-size: 22px;
  padding: 5px 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  line-height: 45px;
}

/*  */

.all-features {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 2000px;
}

.info-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: #e8cbff67;
  /* box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.356); */
  backdrop-filter: blur(15px);
  border-radius: 17px;
  transition: all 0.5s ease;
  justify-content: center;
  user-select: none;
  /* font-weight: bolder; */
  color: black;
  width: 65%;
  direction: rtl;
}

.features1-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
}

.features2-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  direction: ltr;
}

.features3-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
}

.features4-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  direction: ltr;
}

.features1-info .info-feature {
  box-shadow: -12px 17px 51px rgba(0, 0, 0, 0.356);
}
.features1-info .info-feature:hover {
  box-shadow: 12px 17px 51px rgba(134, 134, 134, 0.315);
}

.features2-info .info-feature {
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.356);
}
.features2-info .info-feature:hover {
  box-shadow: 12px 17px 51px rgba(134, 134, 134, 0.315);
}

.features3-info .info-feature {
  box-shadow: -12px 17px 51px rgba(0, 0, 0, 0.356);
}
.features3-info .info-feature:hover {
  box-shadow: 12px 17px 51px rgba(134, 134, 134, 0.315);
}

.features4-info .info-feature {
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.356);
}
.features4-info .info-feature:hover {
  box-shadow: 12px 17px 51px rgba(134, 134, 134, 0.315);
}

.featureInfoTitle {
  font-size: 40px;
  padding-right: 30px;
  margin: auto 0;
}

.featureInformation {
  font-size: 20px;
  line-height: 40px;
  padding: 15px;
  text-align: justify;
}

.featureInfoImg {
  width: 25%;
  height: 90%;
}

/* PETS SWIPER */
.swiper-container {
  width: 80%;
  background-position: left;
  height: 380px;
  margin-top: 120px;
  background-color: #7b2cbf;
  border-radius: 25px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.356);
  transition: all 0.4s ease;
}

.swiper-container:active {
  box-shadow: 12px 17px 51px rgba(134, 134, 134, 0.315);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 70%;
  background-size: contain;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: grab;
}

#sadi {
  background-image: url(./imgs/sadi.jpg);
  background-position-x: center;
  background-size: cover;
}
#hafez {
  background-image: url(./imgs/hafez.jpg);
  background-position-x: center;
  background-size: cover;
}
#molana {
  background-image: url(./imgs/molana.jpg);
  background-position-x: center;
  background-size: cover;
}
#ferdosi {
  background-image: url(./imgs/ferdosi.jpg);
  background-position-x: center;
  background-size: cover;
}
.poaet-poetry {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 0;
  height: 100%;
  margin-top: 50px;
}

.poetry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

#molana .poetry {
  height: 25%;
}

.poetry-prsian {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: 0 auto;
  width: 100%;
}

.poetry-english {
  color: rgb(199, 182, 152);
  text-shadow: #2c1811;
  font-size: 19px;
  width: 90%;
  margin: 0 auto;
}

.poet {
  color: rgb(199, 182, 152);
}

/*  */

.titleInfo2 {
  margin-top: 200px;
  direction: rtl;
  display: flex;
}

.info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainfooter-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.dekor2 {
  max-width: 100%;
}
.dekor3 {
  max-width: 28%;
  position: absolute;
  animation: dekor3 10s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
}
@keyframes dekor3 {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.title-information2 {
  direction: rtl;
  width: 48%;
  transition: all 0.4s ease;
}

.title-information2 p {
  font-size: 23px;
  line-height: 50px;
  text-align: justify;
}

/*  */
/*  */
/*  */

.socialmedia-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.socialmediaLogo {
  max-width: 10%;
  position: absolute;
  box-shadow: 0px 22px 30px rgb(175, 175, 175);
  border-radius: 18px;
  transition: all 0.4s ease;
}
.socialmediaLogo:active {
  transform: scale(0.95);
}

.instalogo {
  position: absolute;
  max-width: 8%;
  margin-top: -30%;
  margin-left: 3%;
  animation: instalogo 10s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
}

@keyframes instalogo {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.facebooklogo {
  position: absolute;
  max-width: 7%;
  margin-top: 20%;
  margin-left: 25%;
  animation: facebooklogo 10s cubic-bezier(0.5, 0.5, 0.24, 2) infinite;
}

@keyframes facebooklogo {
  0% {
    transform: translateY(-10px);
  }
  35% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.twitterlogo {
  position: absolute;
  max-width: 7%;
  margin-top: 23%;
  margin-left: -10%;
  animation: twitterlogo 12s cubic-bezier(0.5, 0.5, 0.24, 1.81) infinite;
}

@keyframes twitterlogo {
  0% {
    transform: translateY(-10px);
  }
  35% {
    transform: translateY(10px);
  }
  65% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.whatsapplogo {
  position: absolute;
  max-width: 6%;
  margin-top: 10%;
  margin-left: -30%;
  animation: whatsapplogo 9s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
}

@keyframes whatsapplogo {
  0% {
    transform: translateY(-10px);
  }
  35% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.telegramlogo {
  position: absolute;
  max-width: 6%;
  margin-top: -10%;
  margin-left: 25%;
  animation: telegramlogo 11s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
}

@keyframes telegramlogo {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.youtubelogo {
  position: absolute;
  max-width: 8%;
  margin-top: -17%;
  margin-left: -24%;
  animation: youtubelogo 10s cubic-bezier(0.5, 0.5, 0.24, 1.51) infinite;
}

@keyframes youtubelogo {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.about-features2 {
  margin: 0 auto;
  width: 90%;
}

.about-features2 p {
  font-size: 35px;
  text-align: center;
  background-color: #7b2cbf;
  padding: 25px 10px;
  border-radius: 10px;
  color: antiquewhite;
  box-shadow: 0px 0px 20px 5px #7a2cbf83;
  margin-top: 150px;
}

.titleInfo3 {
  margin-top: 200px;
  direction: rtl;
  display: flex;
}

.info3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-information3 {
  direction: rtl;
  width: 48%;
  transition: all 0.4s ease;
}

.title-information3 p {
  font-size: 23px;
  line-height: 50px;
  text-align: justify;
}

/*  */
/*  */
/*  */

.footer {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-bg {
  width: 96%;
  height: 500px;
  margin: auto;
  border-radius: 30px;
  background: #2c93bf;
  background: linear-gradient(
    90deg,
    rgba(109, 176, 204, 0.7) 0%,
    rgba(123, 44, 191, 0.7) 50%,
    rgba(44, 147, 191, 0.7) 100%
  );
  backdrop-filter: blur(2px);
}

.borttom-distance {
  height: 30px;
  width: 100%;
}

/*  */
/*  */
/*  */
/*  */

.menu-box {
  position: fixed;
  width: 96%;
  top: 0;
  height: 100%;
}

.navBtn-box {
  display: grid;
  grid-template-columns: 25% 75%;
  direction: ltr;
  padding: 7px;
}

.navBtn-icon {
  width: 100px;
}

.navBtnMobile {
  border-radius: 15px;
  border: 3px solid rgb(255, 255, 255);
  background-color: #7b2cbf;
  width: 100%;
  backdrop-filter: blur(10px);
}

.navBtnMobile span {
  color: white;
  font-size: 20px;
}

/*  */


.slidablenav-box {
  display: block;
  width: 55%;
  height: 45%;
  right: 0;
  margin: auto;
  margin-top: 10px;
  direction: rtl;
  position: absolute;
  z-index: 11;
  position: fixed;
  margin-right: -55%;
  transition: 1s ease;
}

.slidablenav-box.open{
  display: block;
  margin-right: 15px;
}

.slidablenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/*  */


.SlideNavBtn {
  width: 100%;
  padding: 0;
  border: 2px solid white;
  border-bottom: 5px solid white;
  border-radius: 10px;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: none;
  display: grid;
  background-color: #8747bf;
  padding: 10px;
}

.SlideNavBtn span {
  display: block;
  padding: 0.5rem 0rem;
  font-family: vazir;
  font-size: 18px;
  color: #ffffff;
}

.SlideNavBtn:active {
  transform: translateY(2px);
  padding-bottom: 0px;
  outline: 0;
  border-bottom: 4px solid white;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* RESPONSIVE */

@media screen and (max-width: 500px) {
  body {
    background: none;
  }

  .topImg1 {
    display: none;
  }

  .topImg2 {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
  }

  .titlecloud-box {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    transition: all 1s ease;
  }
  .title-cloud {
    position: relative;
    width: 90%;
  }

  .title-box {
    margin-top: 30px;
  }

  .header-buttons {
    display: none;
  }
  .socialmedia {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    width: 120px;
    padding: 10px 20px;
  }
  .menu  img{
    display: block;
    margin: auto;
    transform: rotate(90deg);
  }

  .navbar {
    display: grid;
    direction: rtl;
    grid-template-columns: 81% 20%;
    width: 95%;
  }

  .titr1 {
    font-size: 24px;
    line-height: 45px;
    width: 100%;
    text-align: center;
    margin: auto 0;
  }

  .dekor1 {
    width: 100%;
  }

  .info1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .title-information {
    width: 100%;
  }
  .title-information p {
    font-size: 19px;
    line-height: 40px;
  }
  .moreInfo {
    margin-top: 20px;
    padding: 14px 35px;
    width: 100%;
  }

  .about-features p {
    font-size: 25px;
    background-color: #670ab9c2;
    backdrop-filter: blur(2px);
  }

  .features {
    display: grid;
    grid-template-columns: 80%;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
  }

  .feature {
    height: 200px;
  }

  .featureImg {
    max-width: 30%;
    margin-bottom: 30px;
  }

  .feature-title {
    font-size: 20px;
    width: 100%;
    padding: 15px 20px;
  }

  .features-box {
    height: 580px;
  }

  .features-moreInfo {
    display: none;
  }

  .featureInfoImg {
    display: none;
  }

  .all-features {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2900px;
    padding: 20px;
    border: 1px solid white;
    background-color: #e8cbff67;
    border-radius: 20px;
    backdrop-filter: blur(15px);
  }

  .info-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    padding: 0;
    box-sizing: none;
    border: none;
    background: none;
    backdrop-filter: none;
    border-radius: 17px;
    transition: all 0.5s ease;
    justify-content: center;
    user-select: none;
    color: black;
    width: 100%;
    direction: rtl;
  }

  .features1-info .info-feature {
    box-shadow: none;
  }
  .features1-info .info-feature:hover {
    box-shadow: none;
  }

  .features2-info .info-feature {
    box-shadow: none;
  }
  .features2-info .info-feature:hover {
    box-shadow: none;
  }

  .features3-info .info-feature {
    box-shadow: none;
  }
  .features3-info .info-feature:hover {
    box-shadow: none;
  }

  .features4-info .info-feature {
    box-shadow: none;
  }
  .features4-info .info-feature:hover {
    box-shadow: none;
  }

  .featureInfoTitle {
    font-size: 30px;
    padding-right: 20px;
    margin: auto 0;
  }

  .featureInformation {
    font-size: 20px;
    line-height: 40px;
    padding: 15px;
    text-align: justify;
  }

  .poaet-poetry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
    height: 85%;
    width: 100%;
    margin-top: 50px;
  }

  .poetry-prsian {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    width: 98%;
  }

  .poetry-english {
    color: rgb(197, 203, 129);
    text-shadow: #2c1811;
    font-size: 18px;
    line-height: 30px;
    width: 98%;
    margin: 0 auto;
  }

  #sadi {
    background-image: url(./imgs/sadi2.jpg);
    background-position-x: center;
    background-size: cover;
    width: 100%;
  }
  #hafez {
    background-image: url(./imgs/hafez2.jpg);
    background-position-x: center;
    background-size: cover;
    width: 100%;
  }
  #molana {
    background-image: url(./imgs/molana2.jpg);
    background-position-x: center;
    background-size: cover;
    width: 100%;
  }
  #ferdosi {
    background-image: url(./imgs/ferdosi2.jpg);
    background-position-x: center;
    background-size: cover;
    width: 100%;
  }

  .swiper-container {
    margin-top: 70px;
    background-color: #8747bf;
    width: 95%;
  }

  .about-features2 {
    margin: 0 auto;
    width: 90%;
  }

  .about-features2 p {
    font-size: 25px;
    background-color: #670ab9c2;
    backdrop-filter: blur(2px);
    margin-top: 100px;
  }

  .titleInfo2 {
    margin-top: 80px;
    direction: rtl;
    display: flex;
  }

  .info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mainfooter-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .dekor2 {
    max-width: 90%;
  }
  .dekor3 {
    max-width: 60%;
    position: absolute;
    animation: dekor3 10s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
  }
  @keyframes dekor3 {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .title-information2 {
    width: 95%;
    margin: auto;
  }
  .title-information2 p {
    font-size: 19px;
    line-height: 40px;
    text-align: justify;
  }

  /*  */

  .titleInfo3 {
    margin-top: 220px;
    direction: rtl;
    display: flex;
  }

  .info3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .title-information3 {
    margin: auto;
    margin-top: 200px;
    width: 95%;
  }
  .title-information3 p {
    text-align: justify;
    font-size: 19px;
    line-height: 40px;
  }

  .socialmedia-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .socialmediaLogo {
    max-width: 25%;
    position: absolute;
    margin: 0 auto;
    box-shadow: 0px 22px 30px rgb(175, 175, 175);
    border-radius: 18px;
    transition: all 0.4s ease;
  }
  .socialmediaLogo:active {
    transform: scale(0.95);
  }

  .instalogo {
    position: absolute;
    max-width: 22%;
    margin-top: -75%;
    margin-left: 20%;
    animation: instalogo 10s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
  }

  @keyframes instalogo {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  .facebooklogo {
    position: absolute;
    max-width: 20%;
    margin-top: 60%;
    margin-left: 60%;
    animation: facebooklogo 10s cubic-bezier(0.5, 0.5, 0.24, 2) infinite;
  }

  @keyframes facebooklogo {
    0% {
      transform: translateY(-10px);
    }
    35% {
      transform: translateY(0px);
    }
    65% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .twitterlogo {
    position: absolute;
    max-width: 20%;
    margin-top: 70%;
    margin-left: -20%;
    animation: twitterlogo 12s cubic-bezier(0.5, 0.5, 0.24, 1.81) infinite;
  }

  @keyframes twitterlogo {
    0% {
      transform: translateY(-10px);
    }
    35% {
      transform: translateY(10px);
    }
    65% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(10px);
    }
  }

  .whatsapplogo {
    position: absolute;
    max-width: 20%;
    margin-top: 20%;
    margin-left: -60%;
    animation: whatsapplogo 9s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
  }

  @keyframes whatsapplogo {
    0% {
      transform: translateY(-10px);
    }
    35% {
      transform: translateY(0px);
    }
    65% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .telegramlogo {
    position: absolute;
    max-width: 25%;
    margin-top: -10%;
    margin-left: 70%;
    animation: telegramlogo 11s cubic-bezier(0.5, 0.5, 0.24, 1.5) infinite;
  }

  @keyframes telegramlogo {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }

  .youtubelogo {
    position: absolute;
    max-width: 25%;
    margin-top: -50%;
    margin-left: -70%;
    animation: youtubelogo 10s cubic-bezier(0.5, 0.5, 0.24, 1.51) infinite;
  }

  @keyframes youtubelogo {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }

  .footer {
    margin-top: 50px;
  }

  .footer-bg {
    width: 98%;
    height: 500px;
  }

  .borttom-distance {
    height: 5px;
  width: 100%;
  }
}

