@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: vazir;
  src: url(../fonts/irsans_p30download.com.ttf);
}

/*  */
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #3c5274;
  border-radius: 30px;
  border: none;
  border-right: none;
  margin-block: 0.2rem;
}
::-webkit-scrollbar-thumb {
  border: 3px solid #f4f6f900;
  background-color: #f0f8ff;
  border-radius: 30px;
}
/*  */

/* Make Element Appear After Scroll  */
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearTopBox {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  */

body {
  font-family: vazir;
  background-color: #11173b;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  transition: all 0.5s ease;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

button {
  font-family: vazir;
}

.navbar-box {
  direction: rtl;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: color-mix(in srgb, #0a0e27 80%, transparent);
  z-index: 20;
  backdrop-filter: blur(5px);
}

.nav {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  width: 95%;
  margin: auto;
}

.logo-box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.logo {
  width: 45%;
  padding: 10px 20px;
}

.navItems-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  /* padding: 10px 0px 0px 0px; */
}

.nav-items {
  background: none;
  border: none;
  font-size: 15px;
  color: #f0f8ff;
}

.nav-items:hover {
  color: #d8d8d8;
}

.log-box {
  /* padding: 10px 0px 0px 0px; */
  margin: auto;
  width: 100%;
}

.login-btn {
  background-color: color-mix(in srgb, #ffb700 85%, transparent);
  color: #0a0e27;
  border: none;
  border-radius: 8px;
  padding: 13px;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background-color: color-mix(in srgb, #ffb700 77%, transparent);
}

/*  */
/*  */
/*  */

.top-box {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.title-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: appearTopBox 0.6s ease;
  animation: appearTopBox 1s none;
}

.top-title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.top-info {
  font-size: 17px;
  width: 50%;
  text-align: center;
  line-height: 30px;
  margin: auto;
}

.top-bgImg {
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to bottom, #0a0e2750, #11173b),
    url("../images/plans/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/*  */
/*  */
/*  */

.courses-bg {
  position: absolute;
  background-color: #0a0e27;
  width: 100%;
  height: 85vh;
  left: 0;
  z-index: -10;
}

.courses {
  margin-top: 50px;
}

.course {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 10% 90%;
}
.about-course {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.course-title {
  font-size: 45px;
  font-weight: 600;
  margin: auto;
  padding: 10px;
}

.course-info {
  text-align: justify;
  direction: rtl;
  font-size: 17px;
  line-height: 32px;
  width: 90%;
}

.course-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

#course-one {
  width: 290px;
  height: 340px;
  padding: 20px 10px;
  direction: rtl;
  background: linear-gradient(to left bottom, #181e49 40%, #706c34 100%);
  border-radius: 0.8rem;
  position: relative;
  transition: 0.4s ease;
}
@property --degCounter {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#course-one::before,
#course-one::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  padding: 0.2rem;
  z-index: -1;
  translate: -50% -50%;
  background: conic-gradient(
    from var(--degCounter),
    #ffb700,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #ffba08
  );
  animation: animated-border 3s linear infinite;
}

#course-one::after {
  filter: blur(2px);
}

/*  */

#course-two {
  width: 290px;
  height: 340px;
  padding: 20px 10px;
  direction: rtl;
  background-color: #0a0e27;
  background: linear-gradient(to left bottom, #181e49 40%, #706c34 100%);
  border-radius: 0.8rem;
  position: relative;
  transition: 0.4s ease;
}

@property --degCounter {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#course-two::before,
#course-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  padding: 0.2rem;
  z-index: -1;
  translate: -50% -50%;
  background: conic-gradient(
    from var(--degCounter),
    #ffb700,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #11173b00,
    #ffba08
  );
  animation: animated-border 3s linear infinite;
}

#course-two::after {
  filter: blur(2px);
}

@keyframes animated-border {
  from {
    --degCounter: 0deg;
  }
  to {
    --degCounter: 360deg;
  }
}

/*  */

.courseBox-title {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.list-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

/*  */
/*  */
/*  */
.gallery {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.gallery-title {
  font-size: 45px;
  font-weight: 600;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.pics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    transition: appearTopBox 0.6s ease;
  animation: appearTopBox 1s none;
}

.images {
  background-color: yellowgreen;
  width: 19%;
  height: 80%;
  border-radius: 10px;
}

.more-img-btn {
  width: 250px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  border: none;
  border-radius: 12px;
  background-color: color-mix(in srgb, #ffb700 85%, transparent);
  color: #11173b;
  display: flex;
  justify-content: center;
}

.more-img-btn:hover {
  background-color: color-mix(in srgb, #ffb700 77%, transparent);
  cursor: pointer;
}
