* {
  font-family: vazir;
  /* border: 1px solid black; */
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300px;
  src: url(../font/irsans_p30download.com.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  --color: #e1e1e1;
  background-color: #ffffff;
  background-image:
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 80px 80px;
}

.menu {
  background: none;
  border: none;
}

.menu img {
  display: none;
  background: none;
  border: none;
  padding: 0px 15px;
  color: #145a80;
  font-size: 20px;
  height: 45px;
}

.logo {
  display: none;
}
.logo2 {
  display: block;
  width: 120px;
  padding: 10px 20px;
}

.navbar {
  display: grid;
  direction: rtl;
  grid-template-columns: 15% 70% 15%;
  background-color: #e3c8fcc4;
  border: 2.5px solid #b48fdb;
  backdrop-filter: blur(10px);
  width: 98%;
  border-radius: 10px;
  position: fixed;
  top: 7;
  z-index: 10;
}

/* NAVBAR BUTTONS */

.header-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
}

.logo {
  width: 250px;
  padding: 5px 20px;
}

.navBtn {
  width: 120px;
  padding: 0;
  border: none;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: none;
  display: grid;
}

.navBtn span {
  display: block;
  padding: 0.5rem 0rem;
  border-radius: 5px;
  font-family: vazir;
  font-size: 17px;
  color: #145a80;
}

.navBtn span:hover {
  color: #d00000;
}

.navBtn:active {
  transform: translateY(2px);
  padding-bottom: 0px;
  outline: 0;
}

.socialmedia {
  display: flex;
  gap: 1em;
  margin: auto;
}
/* .card1 {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: grid;
  align-content: center;
}

.instagram {
  fill: #cc39a4;
}

.card2 {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: grid;
  align-content: center;
}

.twitter {
  fill: #03a9f4;
}

.card3 {
  width: 42px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: grid;
  align-content: center;
}

.whatsapp {
  fill: #46df60;
}

.discord {
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background: linear-gradient(45deg, #b33ab4, #dd4892, #e1306c);
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #46df60;
}

.card3:hover .whatsapp {
  fill: white;
} 

.icon-content .sicial-tooltip {
  position: absolute;
  top: 70px;
  transform: translateX(50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.icon-content:hover .sicial-tooltip {
  opacity: 1;
  visibility: visible;
  top: 80px;
}*/

/*  */

.tit {
  display: grid;
  align-content: center;
  position: relative;
  width: 100%;
  height: 330px;
  font-weight: 600;
}

.edicationTitle {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 180px;
  font-size: 60px;
  color: white;
}

.topImg1 {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 80%;
}

.topImg2 {
  display: none;
}

.slidablenav-box {
  display: block;
  width: 55%;
  height: 45%;
  right: 0;
  margin: auto;
  margin-top: 10px;
  direction: rtl;
  position: absolute;
  z-index: 11;
  position: fixed;
  margin-right: -55%;
  transition: 1s ease;
}

.slidablenav-box.open {
  display: block;
  margin-right: 15px;
}

.slidablenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/*  */

.SlideNavBtn {
  width: 100%;
  padding: 0;
  border: 2px solid white;
  border-bottom: 5px solid white;
  border-radius: 10px;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: none;
  display: grid;
  background-color: #8747bf;
  padding: 10px;
}

.SlideNavBtn span {
  display: block;
  padding: 0.5rem 0rem;
  font-family: vazir;
  font-size: 18px;
  color: #ffffff;
}

.SlideNavBtn:active {
  transform: translateY(2px);
  padding-bottom: 0px;
  outline: 0;
  border-bottom: 4px solid white;
}

/*  */

main {
  margin-top: 200px;
}

.ttl {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 180px;
  font-size: 60px;
  color: white;
}

.us-box {
  display: grid;
  align-content: center;
  grid-template-rows: 19% 81%;
  margin: auto;
  height: 450px;
  width: 90%;
  border-radius: 20px;
  margin-top: 100px;
  direction: rtl;
  margin-top: 100px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  /* background-color: #e8cbff67; */
  background: linear-gradient(
    90deg,
    rgba(189, 158, 217, 1) 0%,
    rgba(169, 103, 219, 1) 20%,
    rgba(169, 103, 219, 1) 80%,
    rgba(189, 158, 217, 1) 100%
  );
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.356);
  transition: all 0.5s ease;
  /* font-weight: bolder; */
  color: black;
}

.us-box:hover {
  box-shadow: 12px 17px 51px rgba(134, 134, 134, 0.315);
}

.us-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.us-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.titles {
  display: grid;
  grid-template-columns: 50% 50%;
}

.socialmedia-title {
  text-align: center;
  font-size: 25px;
  color: black;
  margin-top: 0px;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom: 2px dotted #ffffff70;
  /* background-color: #7a2cbf70; */
  margin: 0 auto;
  width: 60%;
  font-weight: 600;
}

.aboutus-title {
  text-align: center;
  font-size: 25px;
  color: black;
  margin-top: 0px;
  padding: 30px;
  border-top-left-radius: 20px;
  border-bottom: 2px dotted #ffffff70;
  /* background-color: #7a2cbf70; */
  margin: 0 auto;
  width: 60%;
  font-weight: 600;
}

.aboutus-infos {
  display: grid;
  grid-template-columns: 50% 50%;
  direction: rtl;
}

.socialmedia-box {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  height: 370px;
}

.socialmedia-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.icons {
  width: 50px;
  height: 50px;
  background: #fff;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
}

.icons svg {
  fill: rgb(190, 74, 74);
  width: 35px;
  height: 35px;
}

.socialmedia-info {
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 9px;
}

.socialmedia-id {
  font-size: 22px;
}

.aboutus-box {
  width: 100%;
  height: 370px;
  padding: 20px;
  font-size: 19px;
}

/* MOBILE US-BOX */
.us-box2 {
  display: none;
}


/*  */

.footer {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-bg {
  width: 96%;
  height: 500px;
  position: relative;
  margin-left: 25px;
  border-radius: 30px;
  background: #2c93bf;
  background: linear-gradient(
    90deg,
    rgba(109, 176, 204, 0.7) 0%,
    rgba(123, 44, 191, 0.7) 50%,
    rgba(44, 147, 191, 0.7) 100%
  );
  backdrop-filter: blur(2px);
}

.borttom-distance {
  height: 30px;
  width: 100%;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


@media screen and (max-width: 400px) {
  body {
    background: none;
  }

  .topImg1 {
    display: none;
  }

  .topImg2 {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
  }

  .tit {
    display: grid;
    align-content: center;
    position: relative;
    width: 100%;
    height: 150px;
    font-weight: 600;
  }

  .edicationTitle {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #03a9f4;
    height: 0px;
  }

  .titlecloud-box {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    transition: all 1s ease;
  }
  .title-cloud {
    position: relative;
    width: 90%;
  }

  .title-box {
    margin-top: 30px;
  }

  .header-buttons {
    display: none;
  }
  .socialmedia {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    width: 120px;
    padding: 10px 20px;
  }
  .menu img {
    display: block;
    margin: auto;
    transform: rotate(90deg);
  }

  .navbar {
    display: grid;
    direction: rtl;
    grid-template-columns: 81% 20%;
    width: 95%;
  }

  .us-box {
    display: none;
  }

  .us-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 450px;
    width: 90%;
    border-radius: 20px;
    margin-top: 100px;
    direction: rtl;
    margin-top: 100px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(
      90deg,
      rgba(189, 158, 217, 1) 0%,
      rgba(169, 103, 219, 1) 20%,
      rgba(169, 103, 219, 1) 80%,
      rgba(189, 158, 217, 1) 100%
    );
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.356);
    transition: all 0.5s ease;
    /* font-weight: bolder; */
    color: black;
  }

  .us-box2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
  }

  .us-box2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3)
    );
  }

  .mobile-title {
    text-align: center;
  }
  .mobile-title p {
    font-size: 25px;
    /* margin-top: 0; */
  }

  .mobileSocialmedia-info {
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 9px;
    text-align: left;
    margin-left: 20px;
  }

   .footer {
    margin-top: 50px;
  }

  .footer-bg {
    width: 98%;
    height: 500px;
    margin: auto;
  }

  .borttom-distance {
    height: 5px;
    width: 100%;
  }
}
